* text eol=crlf whitespace=trailing-space,tab-in-indent,tabwidth=2

# Possibly have crlf for this as well (believe AU uses Windows Line Endings and utf-8-bom)
*.nuspec text eol=lf

*.png binary
*.jpg binary
*.exe binary
*.dll binary
*.zip binary
*.cer binary
*.pdf binary