Thumbs.db
yumi.exe
Brackets-extract-version/node_modules/*
Brackets-extract-version/output-brackets/*
universal-usb-installer.exe
universal-usb-installer-src.zip
_output/**/*.nupkg
_output/*/*/*.png
_output/*/*/*.gif
_output/*/*/*.jpg
_output/*/*/*.svg