Thumbs.db
yumi.exe
automatic/Brackets-extract-version/node_modules/*
automatic/Brackets-extract-version/output-brackets/*
automatic/Brackets-extract-version/brackets-version.txt
universal-usb-installer.exe
universal-usb-installer-src.zip
manual/**/*nupkg

automatic/_output/*


# Ignored symlinks

automatic/python2/tools/chocolateyInstall.ps1
automatic/python3/tools/chocolateyInstall.ps1
automatic/libreoffice-oldstable/tools/chocolateyInstall.ps1
automatic/python-x86_32/tools/chocolateyInstall.ps1
automatic/python2-x86_32/tools/chocolateyInstall.ps1
automatic/python3-x86_32/tools/chocolateyInstall.ps1
