*~
*.bak
*.cache
*.nupkg
*.old
*.orig
*.swp
*.swo
*.suo
*.test
*.work
*.exe
*.dll
*.zip
*.7z
*.handover
*.new
*.exist
*-orig.*
Thumbs.db
.DS_Store
_ReSharper*
*.resharper
New folder*
New Text Document*.txt
obj
*/working
ketarin/soluto.xml
*.stackdump
/jobs.db
*.log
*.log.full
automatic/_output/
.vscode
/Update-AUPackages.md
/Update-History.md
/Update-Force-Test*.md
/update_vars.ps1
/update_info.xml
