<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompactTimer.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CompactTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompactTimer.App.Properties.Settings>
            <setting name="keepOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSoundAlarm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alarmFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SystrayIntegration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBuiltInAlarm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveChangesOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="emailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="emailPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="emailServer" serializeAs="String">
                <value>smtp.server.com</value>
            </setting>
            <setting name="emailUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="emailSubject" serializeAs="String">
                <value>Timer has finished!</value>
            </setting>
            <setting name="emailSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timerUpdateSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="emailEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeLabelFont" serializeAs="String">
                <value>Courier New, 26.25pt, style=Bold</value>
            </setting>
            <setting name="TimeLabelTextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="TimeLabelBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="loop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTrayBaloon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="UseTimeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </CompactTimer.App.Properties.Settings>
    </userSettings>
</configuration>